run = ["bash", "main.sh"]
language = "bash"
entrypoint = "main.sh"

[env]
DB_TYPE="MySQL"
DB_HOST="db4free.net"
DB_PORT="3306"
DB_USER="servertechinfin"
DB_PASS="sadik@@@"
DB_NAME="techinfinities"
DB_TABLE_PREFIX="alist_"
DB_SLL_MODE="false"
